#page-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-login header img {
  width: 280px;
  height: auto;
  display: block;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

#page-login main {
  margin-top: 104px;
}

#page-login main a {
  background-color: #282a36;

  width: 640px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  font-size: 32;
  font-family: Ubuntu, Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #f8f8f2;
}

#page-login main a svg {
  margin-right: 8px;
}
