:root {
  --primary-color: #f0f0f5;
  --title-color: #282a36;
  --text-color: #282a36;
  --border-color: var(--text-color);
  --button-color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Roboto;
}
